*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: none;
}
::selection {
    color: #fff;
    background: red;
  }
/* ნავიგაციის მენიუ */
nav{
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    /* background-color: #5d4954; */
    font-family: 'Poppins', sans-serif;
    z-index: 10;
}
.logo{
    color:rgb(226, 226, 226);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size:20px;
    font-family: cursive; /*არ გვინდა???*/
}
.logo a{
    text-decoration: none;
    color:rgb(226, 226, 226);
}
.nav-links{
    display:flex;   
    align-items: center;
    justify-content: space-around;
    width: 45%;
}
.nav-links li.active a{
    background-color: white;
    color: black;
}
.nav-links li{
    list-style: none;
    display: inline-block;
}
.nav-links li a:hover{
    background-color: white;
    color: black;
}
.nav-links a{
    color:rgb(226, 226, 226);
    text-decoration:none;
    letter-spacing: 1px;
    font-weight:bold;
    font-size:16px;
    transition: 0.6s ease;
    border: 1px transparent;
    padding: 5px;
}
.nav-links b{
    display: none;
}
/*Burger მენუ რომ არ გამოჩნდეს კომპიუტერზე*/
.burger{
    display:none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
.videoheader{
    height: 100vh;
}
.videobackground{
    position:absolute;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height:auto;
    z-index: -100;
}
/* .container {
    position: relative;
    text-align: center;
    color: white;
    z-index:1;
  } */
  .title{ /*მობილურის ვერსიაზე ბურგერ მენიუ რომ გამოდის ვერ ფარავს ამ სათაურს და Log in Register-ს*/
    position:absolute;
    top: 50%;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, -50%);
    font-family: 'Knewave', cursive;
    color: rgb(226, 226, 226);
    font-size: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    width:100%;
  }
  /* .banner{ 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/caucasus1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
} */

.spotlight h1{
    font-size: 64px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111112;
    text-align: center;
    margin-top: 50px;
    font-family: 'Kaushan Script', cursive;
}
.cardcontainer{
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    min-height: 100vh;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.cardbox{
    max-width: 500px;
    min-height: 250px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    padding: 20px;
}
.cardbox .thumb{
    max-width: 250px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position:relative;
    border-radius: 50%;
    float:left;
    shape-outside: circle();
    margin-right: 20px;
    transition: transform 0.2s;
}
.cardbox button{
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: none;
    text-align: center;
    color: #000;
    /* font-family: 'Kaushan Script'; */
    font-size: 16px;
    background: none;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 16px;
}
.cardbox button:hover{
    background-color: #5CB9B1;
    color: #fff;
    border: none;
}
.thumb img{
    width: 100%;
    height: 100%;
    display:block;
    object-fit: cover;
}
.cardbox:hover .thumb{
    transform: translateY(-5px);
}
.cardbox .cardtext{
    padding-top: 20px;
}
.cardbox .cardtext h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cardbox .cardtext p{
    margin: 15px 0;
}
.cardbox .cardtext a{
    text-decoration: none;
}
.cardbox .cardtext a:hover{
    color: crimson;
}
.destinationsection{
    display:flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    background-color: #5CB9B1;
    justify-content: center;
    text-align: center;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.destinationheader{
    margin-right: 50px;
    position: relative;
    top: 150px;
}
.destinationheader h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
    color: #fff;
    margin-bottom: 50px;
    /* position: relative;
    top:100px; */
}
.destinationheader p{
    font-size: 24px;
    color:#fff;
    /* position: relative;
    top: 150px; */
    font-family: 'KoHo', sans-serif;
    margin-bottom: 50px;
}
.destinationsection button{
    height: 40px;
    width: 300px;
    border-radius: 32px;
    text-align: center;
    color: #fff;
    font-family: 'Kaushan Script';
    font-size: 24px;
    background: none;
    cursor: pointer;
    border: 2px solid white;
}
.destinationsection button:hover{
    background: #fff;
    color: #000;
    border: none;
}
.destinationmap img{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
}
.gallery{
    margin-top: 50px;
    margin: 10px 50px;
    justify-content: center;
    text-align: center;
}
.gallery img{
    transition: 1s;
    padding: 5px;
    width: 300px;
    height: 200px;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
/* @media screen and (max-width:830px){
    .destinationsection{
        height: 200px;
    }
    /* .destinationmap img{
        display: none;
        /* opacity: 0; 
    } 
} */
@media screen and (max-width:1329px){
    .destinationsection{
        display: flex;
        flex-direction: column;
        height: 1200px;
    }
    .destinationheader{
        top: 0px;
    }
    /* .destinationmap{
        background: url(../images/georgiaSouthOssetiaHigh\ \(4\).png);
    } */
}
@media (min-aspect-ratio:16/9)
{
    .videobackground{
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9)
{
    .videobackground{
        width: auto;
        height: 100%;
    }
}
@media (max-width:500px){
    .cardbox .thumb{
        float:none;
        margin: auto;
    }
    .cardbox .cardtext{
        padding: 0;
        margin: 15px;
    }
}
@media screen and (max-width:1381px){
    /* nav{
        background-color: #5d4954;
    } */
    .nav-links{
        width: 60%;
    }
    .select-container{
        width:100%;
        left:0%;
    }
}

@media screen and (max-width:768px){
    nav{
        background-color: #5d4954;
    }
    .select-box .options-container{
        /* position absolute როცა წერია მობაილში არ მუშაობს და უნდა გავასწოროთ */
        position: relative;
    }
    .select-box .options-container.active{
        margin-top:50px;
    }
    .select-container{
        padding-top: 20px;
        height: 400px;
    }
    .select-box{
        display: flex;
        width: 200px;
        flex-direction: column;
        overflow-x:hidden;
        overflow-y: hidden;
        padding: 10px;
    }

    .title{ 
        opacity:1;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .nav-links li a:hover{
        background-color: white;
        color: black;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .button{
        display: none;
    }
.nav-active{
    transform: translate(0%);
}
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/*Burger მენიუს ანიმაცია */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }