*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: none;
}
::selection {
    color: #fff;
    background: red;
  }
/* ნავიგაციის მენიუ */
nav{
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    /* background-color: #5d4954; */
    font-family: 'Poppins', sans-serif;
    z-index: 10;
}
.logo{
    color:rgb(226, 226, 226);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size:20px;
    font-family: cursive; /*არ გვინდა???*/
}
.logo a{
    text-decoration: none;
    /* color:rgb(226, 226, 226); */
    color: #000;
}
.nav-links{
    display:flex;   
    align-items: center;
    justify-content: space-around;
    width: 45%;
}
.nav-links li.active a{
    background-color: #5CB9B1;
    color: white;
}
.nav-links li{
    list-style: none;
    display: inline-block;
}
.nav-links li a:hover{
    background-color: #5CB9B1;
    color: black;
}
.nav-links a{
    /* color:rgb(226, 226, 226); */
    color: #000;;
    text-decoration:none;
    letter-spacing: 1px;
    font-weight:bold;
    font-size:16px;
    transition: 0.6s ease;
    border: 1px transparent;
    padding: 5px;
}
.nav-links b{
    display: none;
}
/*Burger მენუ რომ არ გამოჩნდეს კომპიუტერზე*/
.burger{
    display:none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
.maincontent{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.maincontent h1{
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Kaushan Script', cursive;
    color: #000;
    margin-bottom: 100px;
    text-transform: uppercase;
}
.westmap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.westmap img{
    width: 60%;
    margin-bottom: 50px;
}
.westmap p{
    font-size: 24px;
    padding: 24px;
    font-family: 'KoHo', sans-serif;
}
@media screen and (max-width: 1330px){
    .headermap img{
        width:100%;
    }
}
@media screen and (max-width:1381px){
    /* nav{
        background-color: #5d4954;
    } */
    .nav-links{
        width: 60%;
    }
    .select-container{
        width:100%;
        left:0%;
    }
}

@media screen and (max-width:768px){
    .westmap img{
        width: 100%;
    }
    nav{
        background-color: #5d4954;
    }
    .select-box .options-container{
        /* position absolute როცა წერია მობაილში არ მუშაობს და უნდა გავასწოროთ */
        position: relative;
    }
    .select-box .options-container.active{
        margin-top:50px;
    }
    .select-container{
        padding-top: 20px;
        height: 400px;
    }
    .select-box{
        display: flex;
        width: 200px;
        flex-direction: column;
        overflow-x:hidden;
        overflow-y: hidden;
        padding: 10px;
    }

    .title{ 
        opacity:1;
    }
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .nav-links li a:hover{
        background-color: white;
        color: black;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .button{
        display: none;
    }
.nav-active{
    transform: translate(0%);
}
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/*Burger მენიუს ანიმაცია */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}